In [27]:
import pandas as pd
import math

In [68]:
data = {'x': [12, 14, 17, 16], 
        'y': [21, 19, 20, 18], 
        'z': [24531, 134529, 132450, 456568],
        'bool': [1, 0, 1, 0]
       }

In [69]:
df = pd.DataFrame(data, columns = ['x', 'y', 'z', 'bool'])
df.head()

    x   y       z  bool
0  12  21   24531     1
1  14  19  134529     0
2  17  20  132450     1
3  16  18  456568     0

In [70]:
#You normalize your data in another table

In [71]:
maxX = df['x'].max()
maxY = df['y'].max()
maxZ = df['z'].max()
print(maxX, maxY, maxZ)

17 21 456568

In [72]:
minX = df['x'].min()
minY = df['y'].min()
minZ = df['z'].min()
print(minX, minY, minZ)

12 18 24531

In [74]:
xVals = []
yVals = []
zVals = []
bools = []
for ind in df.index:
    # normalize X
    
    normalizedX = (df['x'][ind] - minX) / (maxX - minX)
    xVals.append(normalizedX)
    
    normalizedY = (df['y'][ind] - minY) / (maxY - minY)
    yVals.append(normalizedY)
    
    normalizedZ = (df['z'][ind] - minZ) / (maxZ - minZ)
    zVals.append(normalizedZ)
    print(normalizedX, normalizedY, normalizedZ)
    
    bools.append(df['bool'][ind])

0.0 1.0 0.0
0.4 0.3333333333333333 0.2546031937079463
1.0 0.6666666666666666 0.2497911058543597
0.8 0.0 1.0

In [75]:
data = {
    "x": xVals,
    "y": yVals,
    "z": zVals,
    "bool": bools
}

In [76]:
normalizedDF = pd.DataFrame(data, columns = ['x', 'y', 'z', 'bool'])
normalizedDF.head()

     x         y         z  bool
0  0.0  1.000000  0.000000     1
1  0.4  0.333333  0.254603     0
2  1.0  0.666667  0.249791     1
3  0.8  0.000000  1.000000     0

In [104]:
#You code a simple euclid distance function

#K is always 1
#returns the bool value of the nearst neighbour
def getNears(x,y,z):
    res = []
    for i in normalizedDF.index:
        row = normalizedDF.values[i]
        be_res = math.pow(x - row[0], 2) + math.pow(y - row[1],2) + math.pow(z - row[2],2)
        distance = math.sqrt(be_res)
        res.append([distance, row[3]])
    res.sort(key=lambda x:x[0],reverse=True)
    return res[0][1]

In [108]:
first_test_res = getNears(0.3,0.4,0.5)
print("first:", first_test_res)
sec_test_res = getNears(0.2,0.2,0.1)
print("second:", sec_test_res)

first: 1.0
second: 0.0